
<div class="wrapper"></div>
<input class="form-control link" type="text" v-show="schema.hideInput !== true" v-model="wrappedValue" :autocomplete="schema.autocomplete" :disabled="disabled" :placeholder="schema.placeholder" :readonly="schema.readonly"/>
<input class="form-control file" type="file" v-if="schema.browse !== false" :disabled="disabled" @change="fileChanged" :name="schema.inputName"/>
<div class="preview" :style="previewStyle"></div>
<div class="remove" title="Remove image" @click="remove"></div>