.radio-list(:disabled="disabled")
label(v-for="item in items")
input(type="radio", :disabled="disabled", :name="id", @click="onSelection(item)", :value="getItemValue(item)", :checked="isItemChecked(item)" )
| {{ getItemName(item) }}
