select.form-control(v-model="value", :disabled="disabled", :name="schema.inputName")
option(:disabled="schema.required", :value="null", :selected="value == undefined") {{ selectOptions.noneSelectedText || "<Nothing selected>" }}
option(v-for="item in items", :value="getItemID(item)") {{ getItemName(item) }}
